@use "sass:color";

// =============================================================================
// Base Colors
// =============================================================================
$color-white: #fff;
$color-black: #000;
$color-grey-100: #f8fafc;
$color-grey-200: #e5e7eb;
$color-grey-400: #a2a2a2;
$color-grey-600: #4b5563;
$color-grey-900: #111827;

// =============================================================================
// Theme Colors
// =============================================================================
$color-primary: #2563eb;
$color-secondary: #4f46e5;
$color-accent: #f43f5e;
$color-dark: #0f172a;
$color-light: $color-grey-100;

// =============================================================================
// Layout Base
// =============================================================================
$border-radius-base: 16px;
$navbar-height: 4rem;
$transition-base: all 0.3s ease;
$font-family-base: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// =============================================================================
// Theme Compatibility Aliases
// =============================================================================
// Color aliases
$light-color: $color-light;
$dark-color: $color-dark;
$primary-color: $color-primary;
$secondary-color: $color-secondary;
$accent-color: $color-accent;

// Layout aliases
$border-radius: $border-radius-base;
$transition: $transition-base;
$font-sans-serif: $font-family-base;
$font-family: $font-family-base;
$font-family-heading: $font-family-base;

// =============================================================================
// Text Colors with Opacity
// =============================================================================
$text-white-100: rgba(255, 255, 255, 1);
$text-white-95: rgba(255, 255, 255, 0.95);
$text-white-85: rgba(255, 255, 255, 0.85);
$text-white-40: rgba(255, 255, 255, 0.4);
$text-white-20: rgba(255, 255, 255, 0.2);

// =============================================================================
// Glass Effect Colors
// =============================================================================
$glass-bg-light: rgba(255, 255, 255, 0.25);
$glass-bg-lighter: rgba(255, 255, 255, 0.15);
$glass-border: rgba(255, 255, 255, 0.25);
$glass-inset-border: rgba(255, 255, 255, 0.3);
$glass-shadow: rgba(31, 38, 135, 0.25);
$glass-shine-start: rgba(255, 255, 255, 0.3);
$glass-shine-end: rgba(255, 255, 255, 0.05);

// =============================================================================
// Badge Colors
// =============================================================================
$badge-js-bg: rgba(255, 251, 0, 0.75);
$badge-border-light: rgba(255, 255, 255, 0.3);
$badge-shadow-dark: rgba(0, 0, 0, 0.1);

// =============================================================================
// Gradient Effects
// =============================================================================
// Background Gradients
$gradient-hero-bg: linear-gradient(135deg, rgba($dark-color, 0.95) 0%, rgba(color.mix($dark-color, $primary-color, 85%), 0.97) 100%);
$gradient-section-bg: linear-gradient(120deg, #f0f9ff 0%, #e0f2fe 100%);
$gradient-glass: linear-gradient(135deg, $glass-bg-light, $glass-bg-lighter);

// Primary Gradients
$gradient-primary: linear-gradient(135deg, $primary-color, $secondary-color);
$gradient-accent: linear-gradient(135deg, $accent-color, $secondary-color);

// Text Gradients
$gradient-text-dark: linear-gradient(135deg, $dark-color, $primary-color);
$gradient-text-light: linear-gradient(135deg, $text-white-95, $text-white-85);
$gradient-text-ultralight: linear-gradient(135deg, $text-white-95, $text-white-100);
$gradient-text-accent: linear-gradient(90deg, rgba($primary-color, 0.95), rgba($secondary-color, 0.95));

// Decorative Gradients
$gradient-decorative-primary: linear-gradient(45deg, rgba($primary-color, 0.7), rgba($secondary-color, 0.5));
$gradient-decorative-accent: linear-gradient(45deg, rgba($accent-color, 0.6), rgba($primary-color, 0.5));
$gradient-decorative-vertical: linear-gradient(to bottom, $primary-color, $secondary-color);

// =============================================================================
// Semantic Colors
// =============================================================================
$text-color-base: $color-grey-900;
$text-color-light: $color-grey-600;
$bg-color-base: $color-white;
$border-color-base: $color-grey-200;

// Additional Semantic Aliases
$text-color: $text-color-base;
$bg-color: $bg-color-base;
$border-color: $border-color-base;

// =============================================================================
// Typography
// =============================================================================
// Font Families
$font-family-base: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-heading: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Font Styles
$font-style-normal: normal;
$font-style-italic: italic;

// Font Sizes
$font-size-xs: 0.75rem;    // 12px
$font-size-sm: 0.875rem;   // 14px
$font-size-base: 1rem;     // 16px
$font-size-lg: 1.125rem;   // 18px
$font-size-xl: 1.25rem;    // 20px
$font-size-2xl: 1.5rem;    // 24px
$font-size-3xl: 1.875rem;  // 30px
$font-size-4xl: 2.25rem;   // 36px
$font-size-5xl: 3rem;      // 48px

// Line Heights
$line-height-none: 1;
$line-height-tight: 1.25;
$line-height-snug: 1.375;
$line-height-normal: 1.5;
$line-height-relaxed: 1.625;
$line-height-loose: 2;

// Letter Spacing
$letter-spacing-tighter: -0.05em;
$letter-spacing-tight: -0.025em;
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.025em;
$letter-spacing-wider: 0.05em;
$letter-spacing-widest: 0.1em;

// =============================================================================
// Transitions & Animations
// =============================================================================
$transition-transform: transform 0.3s ease-in-out;
$transition-color: color 0.3s ease-in-out;
$transition-background: background-color 0.3s ease-in-out;

// =============================================================================
// Shadows
// =============================================================================
$shadow-sm: 0 2px 4px rgba($color-black, 0.1);
$shadow-md: 0 15px 30px rgba($color-black, 0.1);

// =============================================================================
// CSS Custom Properties
// =============================================================================
:root {
  // Theme Colors
  --theme-color: #{$color-primary};
  --theme-color-light: #{$color-secondary};
  --accent-color: #{$color-accent};
  --light-color: #{$color-light};
  --dark-color: #{$color-dark};
  
  // RGB Values for Theme Colors
  --theme-color-rgb: #{color.channel($color-primary, "red")}, 
                     #{color.channel($color-primary, "green")}, 
                     #{color.channel($color-primary, "blue")};
  --secondary-color-rgb: #{color.channel($color-secondary, "red")}, 
                        #{color.channel($color-secondary, "green")}, 
                        #{color.channel($color-secondary, "blue")};
  --accent-color-rgb: #{color.channel($color-accent, "red")}, 
                      #{color.channel($color-accent, "green")}, 
                      #{color.channel($color-accent, "blue")};
  
  // Text Colors
  --text-color: #{$text-color-base};
  --text-color-light: #{$text-color-light};
  
  // Transitions
  --transform-transition: #{$transition-transform};
  --color-transition: #{$transition-color};
  --bg-transition: #{$transition-background};
  
  // Shadows
  --card-shadow: #{$shadow-sm};
  --card-hover-shadow: #{$shadow-md};

  // Typography
  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};
}

// =============================================================================
// Text Effects
// =============================================================================
$text-shadow-sm: 0 1px 2px rgba($color-black, 0.1);
$text-shadow-md: 0 2px 4px rgba($color-black, 0.2);
$text-shadow-lg: 0 4px 8px rgba($color-black, 0.25);
$text-shadow-glow: 0 0 10px rgba($color-white, 0.3);

$text-3d-light: 1px 1px 0 rgba($color-white, 0.3);
$text-3d-dark: -1px -1px 0 rgba($color-black, 0.1);

// Text Gradient Shadows
$text-gradient-shadow-light: 2px 2px 10px rgba($color-white, 0.2);
$text-gradient-shadow-dark: -2px -2px 10px rgba($color-black, 0.1);

// =============================================================================
// Presentation Specific Variables
// =============================================================================
// Container
$presentation-container-max-width: 1280px;
$presentation-container-padding-base: 4rem 1rem;
$presentation-container-padding-sm: 4rem 1.5rem;
$presentation-container-padding-lg: 4rem 2rem;

// Hero Section
$hero-section-padding-base: 2rem;
$hero-section-padding-lg: 3rem;
$hero-section-grid-gap: 2rem;

// Decorative Elements
$decorative-element-blur-primary: 80px;
$decorative-element-blur-accent: 60px;
$decorative-element-opacity-primary: 0.15;
$decorative-element-opacity-accent: 0.1;

// Floating Elements
$floating-element-padding: 1.2rem 1.8rem;
$floating-element-blur: 10px;
$floating-element-font-size: 0.9rem;
$floating-element-animation-duration: 4s;
$floating-element-shadow: 0 8px 32px rgba($color-black, 0.1);

// Value Proposition
$value-proposition-padding: 3rem 2rem;
$value-proposition-margin: 4rem 0;
$value-proposition-border-width: 4px;

// Vision Section
$vision-section-max-width: 900px;
$vision-section-margin: 6rem auto;
$vision-section-padding: 3rem;

// CTA Section
$cta-section-max-width: 900px;
$cta-section-margin: 6rem auto;
$cta-section-padding: 3rem;

// Responsive Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
