@import 'variables';

.vp-catalog {
  padding: 2rem;
  max-width: $presentation-container-max-width;
  margin: 0 auto;

  // Titre principal
  .vp-catalog-main-title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $text-color-base;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 3px;
      background: $gradient-primary;
      border-radius: 2px;
    }
  }

  // Liste des articles
  .vp-catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
  }

  // Items individuels
  .vp-catalog-item {
    background: $bg-color-base;
    border: 1px solid rgba($color-primary, 0.1);
    border-radius: $border-radius-base;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      border-color: $color-primary;
      box-shadow: 0 8px 20px rgba($color-primary, 0.1);
    }
  }

  // Conteneur du titre
  .vp-catalog-child-title {
    padding: 1.25rem;
  }

  // Lien du titre avec icône
  .vp-catalog-title {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    color: $text-color-base;
    text-decoration: none;
    font-size: $font-size-base;
    line-height: 1.5;
    font-weight: $font-weight-medium;
    transition: color 0.3s ease;

    // Style de l'icône
    .icon {
      flex-shrink: 0;
      color: $color-primary;
      font-size: 1.1em;
      margin-top: 0.2rem;
      opacity: 0.8;
      transition: all 0.3s ease;

      svg {
        width: 1em;
        height: 1em;
      }
    }

    // État au survol
    &:hover {
      color: $color-primary;

      .icon {
        opacity: 1;
        transform: translateY(-2px);
      }
    }
  }
}

// Mode sombre
html.dark .vp-catalog {
  .vp-catalog-item {
    background: rgba($color-dark, 0.6);
    border-color: rgba($color-white, 0.1);

    &:hover {
      background: rgba($color-dark, 0.8);
      border-color: rgba($color-primary, 0.3);
    }
  }

  .vp-catalog-title {
    color: $text-white-95;
  }

  .vp-catalog-main-title {
    color: $text-white-95;
  }
}

// Media queries
@media (max-width: $mobile) {
  .vp-catalog {
    padding: 1.5rem 1rem;

    .vp-catalog-main-title {
      font-size: $font-size-2xl;
      margin-bottom: 2rem;
    }

    .vp-catalog-list {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}

// Animation d'apparition
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.vp-catalog-item {
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: calc(var(--index, 0) * 0.1s);
}
