@use "sass:color";
@import 'variables';

.theme-hope-content {
  .article-content {
    max-width: 1280px;
    margin: 0 auto;
    font-size: clamp($font-size-base, calc(0.8rem + 0.4vw), $font-size-lg);
    line-height: $line-height-relaxed;
    color: $text-color-base;

    // Styles communs pour les headings
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-heading;
      line-height: $line-height-tight;
      margin: 2.5em 0 1em;
      width: 100%;
      word-wrap: break-word;
      text-align: left;
      
      // Style des ancres
      .header-anchor {
        font-weight: $font-weight-normal;
        text-decoration: none;
        display: inline-block;
        
        &:hover {
          color: $color-primary;
        }
      }
    }

    // H1 - Titre principal 
    h1 {
      font-size: clamp(2.5rem, 5vw, 3.5rem);
      font-weight: $font-weight-extrabold;
      letter-spacing: -0.02em;
      color: $text-color-base;
      margin: 0 0 2rem;
      padding-bottom: 1rem;
      border-bottom: 0.2rem solid $color-primary;
    }

    // H2 - Sections principales
    h2 {
      font-size: clamp(2rem, 4vw, 2.5rem);
      font-weight: $font-weight-bold;
      color: $text-color-base;
      padding-bottom: 0.5rem;
      margin-top: 4rem;
      border-bottom: 2px solid $color-grey-200;
    }

    // H3 - Sous-sections
    h3 {
      font-size: clamp(1.5rem, 3vw, 1.75rem);
      font-weight: $font-weight-semibold;
      color: $color-primary;
      margin-top: 3rem;
      padding-left: 1rem;
      border-left: 4px solid $color-primary;
    }

    // H4 - Points clés
    h4 {
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      font-weight: $font-weight-medium;
      color: $text-color-base;
      margin-top: 2rem;
      
      &::before {
        content: '→';
        color: $color-primary;
        margin-right: 0.5rem;
        font-weight: $font-weight-bold;
      }
    }

    // H5 - Sous-points
    h5 {
      font-size: clamp(1.1rem, 1.5vw, 1.25rem);
      font-weight: $font-weight-medium;
      color: $text-color-light;
      margin-top: 1.5rem;
      
      &::before {
        content: '•';
        color: $color-primary;
        margin-right: 0.5rem;
      }
    }

    // H6 - Détails
    h6 {
      font-size: 1rem;
      font-weight: $font-weight-normal;
      font-style: italic;
      color: $text-color-light;
      margin-top: 1.5rem;
    }
  }
}

// Mode sombre - utilisation de l'attribut data-theme
[data-theme="dark"] {
  .theme-hope-content .article-content {
    color: $text-white-95;

    h1, h2, h4 {
      color: $text-white-85;
    }

    h2 {
      border-bottom-color: rgba($color-white, 0.1);
    }

    h3 {
      color: color.adjust($color-primary, $lightness: 15%);
      border-left-color: color.adjust($color-primary, $lightness: 15%);
    }

    h5, h6 {
      color: $text-white-85;
    }

    .header-anchor {
    
      &:hover {
        color: $color-primary;
      }
    }
  }
}

// Responsive
@media (max-width: $breakpoint-md) {
  .theme-hope-content .article-content {
    padding: 1rem;
    
    h1 { font-size: 2.2rem; }
    h2 { font-size: 1.8rem; margin-top: 3rem; }
    h3 { font-size: 1.5rem; padding-left: 0.75rem; }
    h4 { font-size: 1.3rem; }
    h5 { font-size: 1.1rem; }
    h6 { font-size: 1rem; }
  }
}