$color_white: #fff;
$color_black: #000;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$tag-separator: ' . ';

.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    margin-bottom: 5%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
        color: inherit;
        &:hover {
            color: $color_prime;
        }
    }
    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }
    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
        overflow: hidden;
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            transition: all 0.3s ease;
        }

        &.excellent {
            &::after {
                background: linear-gradient(45deg, 
                    rgba(76, 175, 80, 0.5),
                    rgba(76, 175, 80, 0.4)
                );
                border: 3px solid #4CAF50;
            }
            &::before {
                content: '★★★★★';
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 1.2rem;
                z-index: 2;
            }
        }

        &.recommended {
            &::after {
                background: linear-gradient(45deg,
                    rgba(33, 150, 243, 0.5),
                    rgba(33, 150, 243, 0.4)
                );
                border: 3px solid #2196F3;
            }
            &::before {
                content: '★★★★';
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 1.2rem;
                z-index: 2;
            }
        }

        &.average {
            &::after {
                background: linear-gradient(45deg,
                    rgba(255, 193, 7, 0.5),
                    rgba(255, 193, 7, 0.4)
                );
                border: 3px solid #FFC107;
            }
            &::before {
                content: '★★★';
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 1.2rem;
                z-index: 2;
            }
        }

        &.avoid {
            &::after {
                background: linear-gradient(45deg,
                    rgba(244, 67, 54, 0.5),
                    rgba(244, 67, 54, 0.4)
                );
                border: 3px solid #f44336;
                filter: grayscale(60%);
            }
            &::before {
                content: '⚠️';
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.5rem;
                z-index: 2;
            }
        }

        &.outdated {
            filter: grayscale(90%);
            &::after {
                background: linear-gradient(45deg,
                    rgba(158, 158, 158, 0.6),
                    rgba(158, 158, 158, 0.5)
                );
                border: 3px solid #9E9E9E;
            }
            &::before {
                content: '📅';
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.5rem;
                z-index: 2;
            }
        }

        &.emeritus {
            &::after {
                background: linear-gradient(45deg,
                    rgba(255, 215, 0, 0.5),
                    rgba(255, 215, 0, 0.4)
                );
                border: 3px solid #FFD700;
                box-shadow: 0 0 25px rgba(255, 215, 0, 0.7);
            }
            &::before {
                content: '👑';
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.5rem;
                z-index: 2;
            }
        }

        &:hover::after {
            opacity: 0.9;
        }
    }
    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease-in-out;
    }
    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left 0.2s;
        background: rgba(#000, 0.6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;
        a {
            text-decoration: dotted underline;
            text-decoration-color: $color_grey_dark;
        }
        .author:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: '\f007';
        }
        .date:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: '\f133';
        }
        .count:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: '\f009';
        }
        .count:after {
            content: ' pages';
        }

        .tags {
            ul:before {
                font-family: FontAwesome;
                content: '\f02b';
                margin-right: 10px;
            }
            ul {
                padding: 0 10px 0 0;
                li {
                    &:before {
                        content: $tag-separator;
                    }
                    display: inline-block;
                    margin-right: 5px;
                    &:first-child {
                        margin-left: -4px;
                        &:before {
                            content: '';
                        }
                    }
                }
            }
        }
    }
    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        text-align: justify;
        z-index: 1;
        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }

        .book-badge {
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 0.8rem;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            float: right;

            &.excellent {
                background-color: #4CAF50;
                color: white;
            }

            &.recommended {
                background-color: #2196F3;
                color: white;
            }

            &.average {
                background-color: #FFC107;
                color: #333;
            }

            &.avoid {
                background-color: #f44336;
                color: white;
            }

            &.outdated {
                background-color: #9E9E9E;
                color: white;
            }

            &.emeritus {
                background: linear-gradient(45deg, #FFD700, #FFA500);
                color: #333;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            }
        }
    }
    p {
        position: relative;
        margin: 1rem 0 0;
    }
    &:hover {
        .details {
            left: 0%;
        }
    }

    @media (min-width: 640px) {
        flex-direction: row;
        min-height: 400px;
        .meta {
            flex-basis: 40%;
            height: auto;
            &::after {
                background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.3) 50%,
                    rgba(0, 0, 0, 0.7) 100%
                );
            }
        }
        .description {
            flex-basis: 60%;
            &:before {
                transform: skewX(-3deg);
                content: '';
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        &.alt {
            flex-direction: row-reverse;
            .description {
                &:before {
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg);
                }
            }
            .details {
                padding-left: 25px;
            }
        }
    }
}
