@use "sass:color";
@import 'variables';

.contact-form {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, $light-color 0%, $light-color 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;

  form {
    width: 100%;
    max-width: 800px;
    position: relative;
    background: rgba($color-white, 0.7);
    backdrop-filter: blur(20px);
    border-radius: $border-radius;
    padding: 3rem 2.5rem;
    overflow: hidden;
    border: 1px solid rgba($primary-color, 0.15);
    box-shadow: 0 4px 15px rgba($primary-color, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    // Tous les éléments directs du form auront la même largeur
    > * {
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
    }

    // Effets décoratifs...
    &::before {
      content: '';
      position: absolute;
      width: 60vw;
      height: 60vw;
      background: $gradient-decorative-primary;
      border-radius: 50%;
      filter: blur($decorative-element-blur-primary);
      opacity: $decorative-element-opacity-primary;
      top: -20%;
      right: -20%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 40vw;
      height: 40vw;
      background: $gradient-decorative-accent;
      border-radius: 50%;
      filter: blur($decorative-element-blur-accent);
      opacity: $decorative-element-opacity-accent;
      bottom: -10%;
      left: -10%;
      z-index: 0;
    }
  }

  .form-header {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 1rem;

    h2 {
      font-size: clamp(2rem, 5vw, 3rem);
      line-height: 1.1;
      font-weight: $font-weight-extrabold;
      margin-bottom: 1rem;
      background: $gradient-text-dark;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: slideInLeft 1s ease-out forwards;
    }

    p {
      font-size: 1.2rem;
      line-height: $line-height-relaxed;
      color: $text-color-light;
      animation: slideInLeft 1s ease-out 0.2s forwards;
      opacity: 0;
    }
  }

  .form-group {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    .label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;

      label {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-weight: $font-weight-medium;
        color: $text-color;
        font-size: 0.95rem;
        letter-spacing: 0.01em;

        i {
          color: $primary-color;
          font-size: 1rem;
          opacity: 0.85;
        }
      }

      .validation-message {
        font-size: 0.875rem;
        
        .error, .success {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 1rem;
          border-radius: 12px;
          font-weight: $font-weight-medium;
          
          i {
            font-size: 0.875rem;
          }
        }

        .error {
          color: $accent-color;
          background: rgba($accent-color, 0.08);
        }

        .success {
          color: #10B981;
          background: rgba(#10B981, 0.08);
        }
      }
    }

    input, 
    select, 
    textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 1rem 1.25rem;
      margin: 0;
      border: 1.5px solid rgba($primary-color, 0.15);
      border-radius: 12px;
      background: rgba($color-white, 0.9);
      color: $text-color;
      font-size: 1rem;
      transition: all 0.3s ease;

      &:hover {
        border-color: rgba($primary-color, 0.3);
        background: $color-white;
      }

      &:focus {
        outline: none;
        border-color: $primary-color;
        background: $color-white;
        box-shadow: 0 0 0 4px rgba($primary-color, 0.1);
        transform: translateY(-2px);
      }

      &::placeholder {
        color: rgba($text-color-light, 0.6);
      }
    }

    textarea {
      min-height: 180px;
      resize: vertical;
      line-height: 1.6;
    }
  }

  .submit-button {
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1.25rem;
    margin: 0;
    background: $gradient-primary;
    color: $color-white;
    border: none;
    border-radius: 12px;
    font-weight: $font-weight-semibold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover:not(:disabled) {
      transform: translateY(-2px);
      box-shadow: 
        0 8px 25px rgba($primary-color, 0.15),
        0 4px 10px rgba($primary-color, 0.1);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    .spinner {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      border: 2px solid rgba($color-white, 0.9);
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      margin-right: 0.75rem;
      vertical-align: middle;
    }
  }

  .form-status {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    border-radius: 16px;
    overflow: hidden;

    &.success {
      background: rgba(#10B981, 0.04);
      border: 1px solid rgba(#10B981, 0.1);
      
      .success-message {
        padding: 2rem;
        text-align: left;

        p.success {
          display: inline-flex;
          align-items: left;
          gap: 0.5rem;
          color: #059669;
          font-weight: $font-weight-semibold;
          font-size: 1.1rem;
          margin-bottom: 1.5rem;
        }
      }

      .message-recap {
        background: rgba($color-white, 0.95);
        margin: 0;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba($dark-color, 0.05);

        h3 {
          font-size: 1.2rem;
          font-weight: $font-weight-semibold;
          color: $text-color;
          margin-bottom: 1.5rem;
        }

        .recap-content {
          .recap-field {
            display: flex;
            margin-bottom: 1rem;
            
            .recap-label {
              font-weight: $font-weight-medium;
              min-width: 55px;
              color: $text-color-light;
            }

            .recap-value {
              color: $text-color;
            }
          }
        }
      }
    }
  }

  .social-links {
    position: relative;
    z-index: 1;
    margin-top: 3rem;
    text-align: center;

    .linkedin-link {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;
      padding: 1rem 2rem;
      background: $gradient-primary;
      color: $color-white;
      border-radius: 12px;
      font-weight: $font-weight-semibold;
      text-decoration: none;
      transition: all 0.3s ease;
      box-shadow: 0 4px 15px rgba($primary-color, 0.15);

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 25px rgba($primary-color, 0.25);
      }

      i {
        font-size: 1.25rem;
      }
    }
  }

  .hidden {
    display: none;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: $mobile) {
  .contact-form {
    padding: 1rem;
    
    form {
      padding: 1.5rem;
      
      > * {
        max-width: 100%;
      }
    }

    .form-header {
      h2 {
        font-size: 1.75rem;
      }
      p {
        font-size: 1rem;
      }
    }

    .form-group {
      margin-bottom: 1.5rem;

      .label-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        .validation-message {
          width: 100%;
        }
      }

      input, 
      select, 
      textarea {
        padding: 0.875rem 1rem;
        font-size: 0.95rem;
      }
    }

    .submit-button {
      padding: 0.875rem 1rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: $pc) and (max-width: $tablet) {
  .contact-form {
    padding: 1.5rem;
    
    form {
      padding: 2rem;
      
      > * {
        max-width: 550px;
      }
    }

    .form-header {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $laptop) {
  .contact-form {
    form {
      > * {
        max-width: 600px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .contact-form {
    form {
      padding: 3.5rem;
      
      > * {
        max-width: 650px;
      }
    }
  }
}
