// Import des variables
@use "sass:color";
@import 'variables';

.vp-hero-info-wrapper {
    position: relative;
    min-height: auto;
    height: auto;
    padding: 2rem 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        rgba($dark-color, 0.98) 0%,
        rgba(color.mix($dark-color, $primary-color, 85%), 0.99) 100%
    );
    box-sizing: border-box;

    // Premier élément décoratif - Cercle lumineux principal
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle at center,
            rgba($primary-color, 0.05) 0%,
            rgba($secondary-color, 0.08) 30%,
            rgba($accent-color, 0.05) 60%,
            transparent 80%
        );
        filter: blur(60px);
        opacity: 0.8;
        animation: pulse 15s ease-in-out infinite;
        z-index: 1;
    }

    // Second élément décoratif - Lignes géométriques
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: 
            linear-gradient(45deg, rgba($primary-color, 0.1) 25%, transparent 25%),
            linear-gradient(-45deg, rgba($secondary-color, 0.1) 25%, transparent 25%);
        background-size: 60px 60px;
        opacity: 0.05;
        animation: backgroundMove 30s linear infinite;
        z-index: 1;
    }

    // Container principal
    .vp-hero-info {
        position: relative;
        z-index: 2;
        width: min(90%, 1200px);
        margin: 0 auto;
        padding: 3rem 2rem;
        background: rgba($dark-color, 0.1);
        backdrop-filter: blur(30px) saturate(180%);
        -webkit-backdrop-filter: blur(30px) saturate(180%);
        border: 1px solid rgba($color-black, 0.1);
        border-radius: 24px;
        transform: translateY(0);
        box-shadow: 
            0 25px 50px rgba($color-black, 0.4),
            0 0 100px rgba($primary-color, 0.5),
            0 0 150px rgba($secondary-color, 0.4),
            inset 0 0 1px 1px rgba($color-white, 0.1);
        overflow: hidden;
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
                    box-shadow 0.3s ease-in-out;

        // Effet de brillance
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                115deg,
                transparent 0%,
                rgba($color-white, 0.05) 30%,
                rgba($color-white, 0.08) 40%,
                rgba($color-white, 0.05) 50%,
                transparent 100%
            );
            transform: translateX(-100%);
            animation: shimmer 5s infinite;
        }

        .vp-hero-infos {
            position: relative;
            text-align: center;

            // Titre principal
            .vp-hero-title {
                font-size: clamp(2.8rem, 6vw, 4rem);
                line-height: 1.1;
                font-weight: 800;
                margin: 0 0 1.5rem;
                background: linear-gradient(
                    to right,
                    rgba($text-white-100, 0.95) 0%,
                    rgba($text-white-95, 0.95) 100%
                );
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: titleReveal 1.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
                position: relative;
                letter-spacing: -0.03em;
                text-shadow: 
                    0 2px 5px rgba($color-black, 0.1),
                    0 5px 15px rgba($primary-color, 0.1);
                    letter-spacing: 0.1rem;
            }

            // Description
            #main-description {
                font-size: clamp(1.1rem, 2vw, 2rem);
                line-height: 1.4;
                font-weight: 400;
                color: $text-white-85;
                margin: 1rem auto 0;
                max-width: 1200px;
                opacity: 0;
                animation: fadeIn 1s ease-out 0.8s forwards;
                text-shadow: 0 2px 4px rgba($color-black, 0.2);
            }
        }

        &:hover {
            box-shadow: 
                0 25px 50px rgba($color-black, 0.45),
                0 0 80px rgba($primary-color, 0.6),
                0 0 120px rgba($secondary-color, 0.4),
                0 0 160px rgba($accent-color, 0.3),
                0 0 200px rgba($primary-color, 0.2),
                inset 0 0 1px 1px rgba($color-white, 0.05);
        }
    }
}

// Animations
@keyframes pulse {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.6;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    20%, 100% {
        transform: translateX(100%);
    }
}

@keyframes titleReveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes badgeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 60px;
    }
}

// Responsive Design
@media (max-width: 1024px) {
    .vp-hero-info-wrapper {
        padding: 1.5rem 0;
        
        .vp-hero-info {
            padding: 2.5rem 2rem;
            width: 95%;
        }
    }
}

@media (max-width: 768px) {
    .vp-hero-info-wrapper {
        padding: 1rem 0;
        
        .vp-hero-info {
            padding: 2rem 1.5rem;
            
            .vp-hero-title::after {
                position: relative;
                display: block;
                top: auto;
                right: auto;
                margin: 1rem auto;
                transform: none;
            }
        }
    }
}

// Optimisations pour les appareils tactiles
@media (hover: none) {
    .vp-hero-info {
        &:hover {
            transform: none;
            box-shadow: none;
        }
    }
}

// Optimisations pour les préférences de réduction de mouvement
@media (prefers-reduced-motion: reduce) {
    .vp-hero-info-wrapper,
    .vp-hero-info,
    .vp-hero-title,
    #main-description {
        animation: none !important;
        transition: none !important;
    }
}

// Ajout de l'animation pour le glow
@keyframes glowPulse {
    0%, 100% {
        opacity: 0.8;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.05);
    }
}