// theme-hope palette variables
$theme-color: #2563eb;

// layout
$navbar-height: 3.75rem;
$sidebar-width: 18rem;
$content-width: 1280px;
$home-page-width: 1280px;

// responsive breakpoints
$pc: 1440px;
$laptop: 1280px;
$pad: 959px;
$tablet: 719px;
$mobile: 419px;
$desktop: 1280px;

// Autres variables de mise en page
$max-width: 1440px;
$container-width: 1280px;
$content-width-narrow: 768px;

// Espacements
$spacing-unit: 1rem;
$spacing-xs: $spacing-unit * 0.25;
$spacing-sm: $spacing-unit * 0.5;
$spacing-md: $spacing-unit;
$spacing-lg: $spacing-unit * 1.5;
$spacing-xl: $spacing-unit * 2;

// Couleurs
$primary-color: #2563eb;
$secondary-color: #4f46e5;
$accent-color: #f43f5e;
$text-color: #374151;
$text-color-light: #6b7280;
$background-color: #ffffff;
$border-color: #e5e7eb; 