// Import des styles de base
@use "@sass-palette/hope-config";

// Import des variables et de la palette
@import './hope-palette.scss';
@import './variables';

// Import Tailwind
@import './tailwind.scss';

// Variables de mise en page
$desktop: 1280px !default;
$laptop: 1024px !default;
$tablet: 768px !default;
$mobile: 480px !default;

* {
  border-radius: 3px !important;
}

// Base Typography
html, body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  font-style: $font-style-normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

p {
  font-family: inherit;
  font-weight: $font-weight-normal;
}

// Styles globaux pour les animations
.fade-slide-y-enter-active {
  transition: $transition-base;
}

.fade-slide-y-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

// Import des composants
@import './home.scss';
@import './presentation.scss';
@import './contact.scss';
@import './solution.scss';
@import './card.scss';
@import './ArticleCatalog.scss';
@import './articles.scss';