// =============================================================================
// Layout Configuration
// =============================================================================

// Content widths
$content-width: 1280px;
$home-page-width: 1280px;

// Navigation
$navbar-height: 3rem;

// Responsive breakpoints
$mobile: 719px;
$pc: 720px;
$tablet: 959px;
$laptop: 1279px;
$desktop: 1280px;