@use "sass:color";
@import 'variables';

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex($direction: row, $align: center, $justify: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin card-shadow {
  box-shadow: $shadow-sm;
}

@mixin hover-shadow {
  box-shadow: $shadow-md;
}

// Définition des keyframes au niveau racine
@keyframes elementFloat {
  0% {
    transform: translateY(0) rotate(var(--rotation));
  }

  25% {
    transform: translateY(-5px) rotate(var(--rotation));
  }

  50% {
    transform: translateY(-10px) rotate(var(--rotation));
  }

  75% {
    transform: translateY(-5px) rotate(var(--rotation));
  }

  100% {
    transform: translateY(0) rotate(var(--rotation));
  }
}

.presentation {
  min-height: 100vh;
  background: linear-gradient(135deg, $light-color 0%, $light-color 100%);
  text-align: left;

  .container {
    max-width: $presentation-container-max-width;
    margin: 0 auto;
    padding: $presentation-container-padding-base;

    @media (min-width: $breakpoint-sm) {
      padding: $presentation-container-padding-sm;
    }

    @media (min-width: $breakpoint-lg) {
      padding: $presentation-container-padding-lg;
    }
  }

  .hero-section {
    position: relative;
    padding: $hero-section-padding-base;
    background: $gradient-section-bg;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: $hero-section-grid-gap;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 3fr 1fr;
      padding: $hero-section-padding-lg;
    }

    // Éléments décoratifs
    &::before {
      content: '';
      position: absolute;
      width: 60vw;
      height: 60vw;
      background: $gradient-decorative-primary;
      border-radius: 50%;
      filter: blur($decorative-element-blur-primary);
      opacity: $decorative-element-opacity-primary;
      top: -20%;
      right: -20%;
      animation: float 20s ease-in-out infinite;
    }

    &::after {
      content: '';
      position: absolute;
      width: 40vw;
      height: 40vw;
      background: $gradient-decorative-accent;
      border-radius: 50%;
      filter: blur($decorative-element-blur-accent);
      opacity: $decorative-element-opacity-accent;
      bottom: -10%;
      left: -10%;
      animation: float 15s ease-in-out infinite reverse;
    }

    .hero-content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      width: 100%;

      @media (min-width: 1024px) {
        padding: 0;
      }

      h1 {
        font-size: clamp(2.5rem, 5vw, 4.5rem);
        line-height: 1.1;
        font-weight: $font-weight-extrabold;
        margin-bottom: 2rem;
        background: $gradient-text-dark;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: slideInLeft 1s ease-out forwards;
      }

      h2 {
        font-size: clamp(1.8rem, 3vw, 2.8rem);
        line-height: 1.1;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
        background: $gradient-text-dark;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: slideInLeft 1s ease-out forwards;
      }

      p {
        font-size: clamp(1.1rem, 2vw, 1.4rem);
        line-height: $line-height-relaxed;
        color: $text-color-light;
        margin-bottom: 3rem;
        max-width: 100%;
        animation: slideInLeft 1s ease-out 0.2s forwards;
        opacity: 0;
      }

      .hero-highlight {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 2rem;
        background: rgba($light-color, 0.9);
        border-radius: $border-radius;
        margin-top: 2rem;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease;
        border: 1px solid rgba($primary-color, 0.15);
        box-shadow: 0 4px 15px rgba($primary-color, 0.1);

        // Bordure latérale avec dégradé
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
          background: linear-gradient(
            to bottom,
            color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%) 0%,
            color.adjust($secondary-color, $saturation: 20%) 50%,
            color.mix($accent-color, color.adjust($accent-color, $hue: -10deg), 50%) 100%
          );
          border-radius: 4px;
          opacity: 0.9;
        }

        // Effet de brillance au survol
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(
            120deg,
            transparent 20%,
            rgba($primary-color, 0.03) 40%,
            rgba($secondary-color, 0.03) 60%,
            transparent 80%
          );
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 8px 25px rgba($primary-color, 0.15);
          background: rgba($light-color, 0.95);

          &::after {
            opacity: 1;
          }

          strong {
            background: linear-gradient(135deg,
              color.adjust($accent-color, $saturation: 20%) 0%,
              color.adjust($primary-color, $hue: 15deg) 50%,
              color.adjust($secondary-color, $saturation: 25%) 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: translateX(5px);
          }
        }

        strong {
          font-size: 1.3rem;
          font-weight: $font-weight-semibold;
          background: linear-gradient(135deg,
            color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%),
            color.adjust($secondary-color, $saturation: 20%)
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease;
          text-shadow: 0 2px 15px rgba($primary-color, 0.1);
        }

        p {
          font-size: 1.1rem;
          line-height: 1.6;
          color: $text-color;
          margin: 0;
          opacity: 0.9;
        }

        // Responsive adjustments
        @media (max-width: 768px) {
          padding: 1.2rem 1.5rem;

          strong {
            font-size: 1.2rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }

      .hero-text {
        margin-bottom: 0;

        .main-text {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          strong {
            font-size: $font-size-xl;
            color: $primary-color;
            font-weight: $font-weight-semibold;
            line-height: 1.4;
          }

          span {
            font-size: $font-size-lg;
            line-height: $line-height-relaxed;
            color: $text-color-light;
          }
        }
      }
    }

    .hero-image {
      position: relative;
      z-index: 2;
      display: none;
      place-items: center;
      width: 100%;

      @media (min-width: 1024px) {
        display: grid;
      }

      .floating-elements {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 500px;
        perspective: 1200px;
        right: 2rem;

        // Ajout d'une transition globale pour le conteneur
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);

        .element {
          position: absolute;
          backdrop-filter: blur(8px);
          padding: 1rem 1.5rem;
          width: 190px;
          white-space: nowrap;
          border-radius: 12px;
          background: rgba(255, 255, 255, 0.85);
          box-shadow: 
            0 4px 15px -3px rgba(0, 0, 0, 0.1),
            0 2px 8px -2px rgba(0, 0, 0, 0.05);
          border: 1px solid rgba($primary-color, 0.1);
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 500;
          color: $dark-color;
          font-size: 0.95rem;
          cursor: pointer;
          transition: 
            transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
            opacity 0.4s ease-out,
            filter 0.4s ease-out,
            background-color 0.3s ease-out,
            box-shadow 0.3s ease-out;
          transform-origin: center right;

          // Ajout d'un effet de profondeur avec gradient shadow
          &::before {
            content: "";
            position: absolute;
            inset: -2px;
            background: linear-gradient(
              40deg,
              rgba($primary-color, 0.1),
              rgba($secondary-color, 0.1)
            );
            filter: blur(8px);
            transform: translate3d(0, 0, -1px);
            border-radius: inherit;
            pointer-events: none;
            z-index: -1;
          }

          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              $rotation: -12 + ($i - 1) * 4;
              $z-depth: 60 - ($i - 1) * 10;
              $top-pos: 10 + ($i - 1) * 10;
              $right-pos: 25 - ($i - 1) * 1;
              
              --rotation: #{$rotation}deg;
              --z-depth: #{$z-depth}px;
              top: #{$top-pos * 1%};
              left: #{$right-pos * 1%};
              z-index: #{8 - $i};
              transform: translateZ(var(--z-depth)) rotate(var(--rotation));

              // Variation du gradient shadow selon la profondeur
              &::before {
                opacity: calc(0.8 - #{($i - 1) * 0.1});
                filter: blur(calc(8px + #{($i - 1) * 2px}));
              }
            }
          }

          // Effet sur l'élément survolé
          &:hover {
            transform: translateX(-5px) translateZ(80px) rotate(0deg) !important;
            background: white;
            box-shadow: 
              0 20px 30px -15px rgba($primary-color, 0.2),
              0 10px 15px -8px rgba($primary-color, 0.15);
            z-index: 50;
            border-color: rgba($primary-color, 0.3);

            i {
              transform: scale(1.2);
              color: $secondary-color;
            }
          }

          // Effet sur les éléments précédents lors du survol d'un élément
          &:has(~ .element:hover) {
            transform: translateX(-25px) translateZ(var(--z-depth)) rotate(calc(var(--rotation) - 3deg));
            opacity: 0.6;
            filter: blur(1px);
          }

          // Effet sur les éléments suivants lors du survol
          &:has(+ .element:hover),
          &:has(+ .element + .element:hover) {
            transform: translateX(25px) translateZ(var(--z-depth)) rotate(calc(var(--rotation) + 3deg));
            opacity: 0.6;
            filter: blur(1px);
          }

          // Effet sur les éléments plus éloignés
          &:has(~ .element ~ .element:hover) {
            transform: translateX(-35px) translateZ(var(--z-depth)) rotate(calc(var(--rotation) - 5deg));
            opacity: 0.4;
            filter: blur(2px);
          }

          &:has(+ .element + .element + .element:hover) {
            transform: translateX(35px) translateZ(var(--z-depth)) rotate(calc(var(--rotation) + 5deg));
            opacity: 0.4;
            filter: blur(2px);
          }

          i {
            color: $primary-color;
            font-size: 1.1rem;
            transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
            flex-shrink: 0;
          }

          // Animation subtile de flottement
          animation: elementFloat 100s ease-in-out infinite;
          animation-delay: calc(var(--rotation) * -0.1s);

          @keyframes elementFloat {
            0%, 100% {
              transform: translateZ(var(--z-depth)) rotate(var(--rotation)) translateY(0);
            }
            50% {
              transform: translateZ(var(--z-depth)) rotate(var(--rotation)) translateY(-5px);
            }
          }
        }

        // Gestion améliorée du retour à l'état normal
        &:not(:hover) {
          .element {
            // Transition plus douce pour le retour
            transition: 
              transform 1s cubic-bezier(0.19, 1, 0.22, 1),
              opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
              filter 0.8s ease-out,
              background-color 0.6s ease-out,
              box-shadow 0.6s ease-out;
            
            // Retour à l'état initial avec animation
            transform: translateZ(var(--z-depth)) rotate(var(--rotation));
            opacity: 1;
            filter: blur(0);
            
            // Annulation de tous les effets de survol
            &:has(~ .element:hover),
            &:has(+ .element:hover),
            &:has(~ .element ~ .element:hover),
            &:has(+ .element + .element:hover),
            &:has(+ .element + .element + .element:hover) {
              transform: translateZ(var(--z-depth)) rotate(var(--rotation));
              opacity: 1;
              filter: blur(0);
            }
          }
        }

        // Amélioration de la transition pendant le survol
        &:hover {
          .element {
            // Transition plus rapide pendant le survol
            transition-duration: 0.4s;
          }
        }
      }
    }
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // Animations
  @keyframes morphing {
    0% {
      border-radius: 68% 32% 50% 50% / 45% 45% 55% 55%;
      transform: rotate(0deg);
    }

    50% {
      border-radius: 32% 68% 50% 50% / 55% 45% 45% 55%;
      transform: rotate(180deg);
    }

    100% {
      border-radius: 68% 32% 50% 50% / 45% 45% 55% 55%;
      transform: rotate(360deg);
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Effet de scroll
  .scroll-indicator {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
    animation: bounce 2s infinite;

    &::before {
      content: '↓';
      font-size: 2rem;
      color: $primary-color;
    }
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-20px);
    }

    60% {
      transform: translateY(-10px);
    }
  }

  .value-proposition {
    background: linear-gradient(135deg, rgba($primary-color, 0.05), rgba($secondary-color, 0.05));
    border-radius: $border-radius;
    padding: $value-proposition-padding;
    margin: $value-proposition-margin;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $value-proposition-border-width;
      background: $gradient-primary;
    }

    .value-content {
      max-width: 100%;
      margin: 0 auto;

      h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        background: $gradient-primary;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: $text-color-light;

        .highlight {
          color: $primary-color;
          font-weight: 600;
          position: relative;
          padding: 0 0.2rem;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: rgba($primary-color, 0.2);
            border-radius: 2px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      padding: 2rem 1.5rem;

      .value-content {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .value-statement {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    background: rgba($primary-color, 0.03);
    border-radius: $border-radius;
    margin: 2rem auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid rgba($primary-color, 0.1);
    box-shadow: 0 4px 15px rgba($primary-color, 0.1);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: linear-gradient(
        to bottom,
        color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%) 0%,
        color.adjust($secondary-color, $saturation: 20%) 50%,
        color.mix($accent-color, color.adjust($accent-color, $hue: -10deg), 50%) 100%
      );
      border-radius: 4px;
      opacity: 0.9;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        120deg,
        transparent 20%,
        rgba($primary-color, 0.05) 40%,
        rgba($secondary-color, 0.05) 60%,
        transparent 80%
      );
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 25px rgba($primary-color, 0.15);
      background: rgba($primary-color, 0.05);

      &::after {
        opacity: 1;
      }

      .statement-icon {
        transform: scale(1.1) rotate(5deg);
        background: linear-gradient(135deg,
          color.adjust($primary-color, $hue: 10deg) 0%,
          color.adjust($secondary-color, $saturation: 20%) 100%
        );

        i {
          color: white;
          transform: rotate(-5deg);
        }
      }

      strong {
        background: linear-gradient(135deg,
          color.adjust($accent-color, $saturation: 20%) 0%,
          color.adjust($primary-color, $hue: 15deg) 50%,
          color.adjust($secondary-color, $saturation: 25%) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(5px);
      }
    }

    .statement-icon {
      width: 3rem;
      height: 3rem;
      @include flex-center;
      background: linear-gradient(135deg, $primary-color, $secondary-color);
      border-radius: 50%;
      transition: all 0.3s ease;
      box-shadow: 0 4px 15px rgba($primary-color, 0.2);
      flex-shrink: 0;

      i {
        color: white;
        font-size: 1.3rem;
        transition: all 0.3s ease;
      }
    }

    strong {
      font-size: 1.3rem;
      font-weight: $font-weight-semibold;
      background: linear-gradient(135deg,
        color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%),
        color.adjust($secondary-color, $saturation: 20%)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease;
      text-shadow: 0 2px 15px rgba($primary-color, 0.1);
    }

    @media (max-width: 768px) {
      padding: 1.2rem 1.5rem;
      margin: 1.5rem 1rem;
      gap: 1rem;

      .statement-icon {
        width: 2.5rem;
        height: 2.5rem;

        i {
          font-size: 1.1rem;
        }
      }

      strong {
        font-size: 1.1rem;
      }
    }
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 4rem 0;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1200px) {
      gap: 1.5rem;
      margin: 2rem 0;
    }

    .service-card {
      position: relative;
      background: $bg-color;
      border-radius: $border-radius;
      padding: 2rem;
      border: 1px solid rgba($primary-color, 0.2);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: visible;
      will-change: box-shadow;

      // Glow initial subtil
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      &:hover {
        border-color: rgba($primary-color, 0.3);
        // Effet de glow au survol
        box-shadow:
          0 0 15px rgba($primary-color, 0.2),
          0 0 30px rgba($primary-color, 0.1),
          0 0 45px rgba($primary-color, 0.05);

        .card-icon {
          background: $gradient-primary;

          i {
            color: white;
          }
        }
      }

      // Assure que le contenu reste au-dessus du glow
      .card-header,
      .card-content {
        position: relative;
        z-index: 2;
      }

      .card-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2rem;

        .card-icon {
          width: 3.5rem;
          height: 3.5rem;
          @include flex-center;
          border-radius: 1rem;
          background: rgba($primary-color, 0.1);
          transition: all 0.3s ease;

          i {
            font-size: 1.5rem;
            color: $primary-color;
            transition: color 0.3s ease;
          }
        }

        h3 {
          font-size: 1.4rem;
          font-weight: 700;
          color: $text-color;
          margin: 0;
          transition: all 0.3s ease;
        }
      }

      .card-content {
        position: relative;

        .card-description {
          margin-bottom: 1.5rem;

          strong {
            display: block;
            font-size: 1.1rem;
            color: $text-color;
            margin-bottom: 0.8rem;
            line-height: 1.4;
          }

          p {
            color: $text-color-light;
            line-height: 1.6;
            font-size: 0.95rem;
          }
        }

        .card-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .tag-item {
            font-size: 0.875rem;
            padding: 0.4rem 0.8rem;
            border-radius: 8px;
            background: rgba($primary-color, 0.1);
            color: $primary-color;
            font-weight: 500;
            transition: all 0.3s ease;

            &:hover {
              background: $primary-color;
              color: white;
              transform: translateY(-2px);
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .service-card {
        padding: 1.5rem;

        .card-header {
          gap: 1rem;

          .card-icon {
            width: 3rem;
            height: 3rem;

            i {
              font-size: 1.25rem;
            }
          }

          h3 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  .vision-section {
    max-width: $vision-section-max-width;
    margin: $vision-section-margin;
    padding: 0 2rem;

    .vision-content {
      position: relative;
      background: linear-gradient(135deg, rgba($primary-color, 0.03), rgba($secondary-color, 0.03));
      border-radius: $border-radius;
      padding: $vision-section-padding;
      border: 1px solid rgba($primary-color, 0.1);

      // Effet de glow subtil
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      .vision-icon {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background: $gradient-primary;
        border-radius: 50%;
        @include flex-center;
        box-shadow: 0 0 20px rgba($primary-color, 0.2);

        i {
          color: white;
          font-size: 1.5rem;
        }
      }

      .vision-text {
        text-align: center;

        h2 {
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 2rem;
          background: $gradient-primary;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .vision-paragraphs {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          p {
            font-size: 1.2rem;
            line-height: 1.8;
            color: $text-color-light;
            max-width: 700px;
            margin: 0 auto;

            &:last-child {
              font-weight: 500;
              color: $text-color;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      margin: 4rem auto;
      padding: 0 1rem;

      .vision-content {
        padding: 2rem 1.5rem;

        .vision-text {
          h2 {
            font-size: 1.5rem;
          }

          .vision-paragraphs p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .cta-section {
    max-width: $cta-section-max-width;
    margin: $cta-section-margin;
    padding: 0 2rem;

    .cta-content {
      position: relative;
      background: linear-gradient(135deg, rgba($primary-color, 0.08), rgba($secondary-color, 0.08));
      border-radius: $border-radius;
      padding: $cta-section-padding;
      border: 1px solid rgba($primary-color, 0.15);
      text-align: center;

      // Effet de glow subtil
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      .cta-header {
        margin-bottom: 2rem;

        .cta-icon {
          width: 60px;
          height: 60px;
          margin: 0 auto 1.5rem;
          background: $gradient-primary;
          border-radius: 50%;
          @include flex-center;
          box-shadow: 0 0 25px rgba($primary-color, 0.25);

          i {
            color: white;
            font-size: 1.8rem;
          }
        }

        h2 {
          font-size: 2rem;
          font-weight: 700;
          background: $gradient-primary;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0;
        }
      }

      p {
        font-size: 1.3rem;
        line-height: 1.6;
        color: $text-color-light;
        margin-bottom: 2.5rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }

      .cta-buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin-top: 2rem;
        max-width: $cta-section-max-width;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $breakpoint-md) {
          grid-template-columns: 1fr;
          padding: 0 1rem;
        }
      }

      .cta-button {
        @include flex-center;
        gap: 0.75rem;
        padding: 1.25rem 2rem;
        border-radius: $border-radius;
        font-weight: $font-weight-semibold;
        text-decoration: none;
        transition: $transition-base;
        position: relative;
        overflow: hidden;
        border: 2px solid transparent;
        
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(120deg,
            transparent 20%,
            rgba($color-white, 0.05) 40%,
            rgba($color-white, 0.1) 60%,
            transparent 80%
          );
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover {
          transform: translateY(-2px);
          @include hover-shadow;

          &::after {
            opacity: 1;
          }
        }

        i {
          font-size: $font-size-xl;
        }

        &.primary {
          background: $gradient-primary;
          color: $color-white;
          border-color: $color-primary;

          &:hover {
            background: linear-gradient(135deg,
              color.adjust($color-primary, $lightness: 5%),
              color.adjust($color-secondary, $lightness: 5%)
            );
          }
        }

        &.linkedin {
          background: #0077B5;
          color: $color-white;
          border-color: #0077B5;

          &:hover {
            background: color.adjust(#0077B5, $lightness: 5%);
          }
        }

        &.secondary {
          background: transparent;
          color: $text-color;
          border: 2px solid $border-color;

          &:hover {
            background: rgba($color-grey-100, 0.5);
            border-color: $color-primary;
            color: $color-primary;
          }
        }
      }

      @keyframes shine {
        to {
          left: 100%;
        }
      }
    }

    @media (max-width: 768px) {
      margin: 4rem auto 2rem;
      padding: 0 1rem;

      .cta-content {
        padding: 2rem 1.5rem;

        .cta-header {
          h2 {
            font-size: 1.8rem;
          }
        }

        p {
          font-size: 1.1rem;
          margin-bottom: 2rem;
        }

        .cta-buttons {
          flex-direction: column;
          gap: 1rem;

          .cta-button {
            width: 100%;
            justify-content: center;
            padding: 0.9rem 1.5rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// Responsive design
@media (max-width: $breakpoint-md) {
  .presentation .hero-section {
    min-height: 80vh;

    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }

    .hero-content {
      padding: 1rem;
    }
  }
}

// Définition de l'animation de flottement
@keyframes float {
  0% {
    transform: translateY(0) rotate(var(--rotation));
  }

  50% {
    transform: translateY(-10px) rotate(var(--rotation));
  }

  100% {
    transform: translateY(0) rotate(var(--rotation));
  }
}

// Animation de test simple
@keyframes simpleFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes elementFloat {
  0%, 100% {
    transform: translateX(0) translateZ(var(--z-depth, 0));
  }
  50% {
    transform: translateX(-10px) translateZ(var(--z-depth, 0));
  }
}