@use "sass:color";
@import 'variables';

.solution {
  min-height: 100vh;
  background: linear-gradient(135deg, $light-color 0%, $light-color 100%);
  text-align: left;

  .hero-section {
    position: relative;
    padding: $hero-section-padding-base;
    background: $gradient-section-bg;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: $hero-section-grid-gap;

    @media (min-width: $breakpoint-lg) {
      padding: $hero-section-padding-lg;
    }

    // Éléments décoratifs
    &::before {
      content: '';
      position: absolute;
      width: 60vw;
      height: 60vw;
      background: $gradient-decorative-primary;
      border-radius: 50%;
      filter: blur($decorative-element-blur-primary);
      opacity: $decorative-element-opacity-primary;
      top: -20%;
      right: -20%;
      animation: float 20s ease-in-out infinite;
    }

    &::after {
      content: '';
      position: absolute;
      width: 40vw;
      height: 40vw;
      background: $gradient-decorative-accent;
      border-radius: 50%;
      filter: blur($decorative-element-blur-accent);
      opacity: $decorative-element-opacity-accent;
      bottom: -10%;
      left: -10%;
      animation: float 15s ease-in-out infinite reverse;
    }

    .hero-content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      h3 {
        font-size: clamp(2.5rem, 5vw, 4.5rem);
        line-height: 1.1;
        font-weight: $font-weight-extrabold;
        margin-bottom: 2rem;
        background: $gradient-text-dark;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: slideInLeft 1s ease-out forwards;
      }

      .hero-text {
        .main-text {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          strong {
            font-size: $font-size-xl;
            color: $primary-color;
            font-weight: $font-weight-semibold;
            line-height: 1.4;
          }

          span {
            font-size: $font-size-lg;
            line-height: $line-height-relaxed;
            color: $text-color-light;
          }
        }
      }

      .hero-highlight {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 2rem;
        background: rgba($light-color, 0.9);
        border-radius: $border-radius;
        margin-top: 2rem;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease;
        border: 1px solid rgba($primary-color, 0.15);
        box-shadow: 0 4px 15px rgba($primary-color, 0.1);

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
          background: linear-gradient(
            to bottom,
            color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%) 0%,
            color.adjust($secondary-color, $saturation: 20%) 50%,
            color.mix($accent-color, color.adjust($accent-color, $hue: -10deg), 50%) 100%
          );
          border-radius: 4px;
          opacity: 0.9;
        }

        strong {
          font-size: 1.3rem;
          font-weight: $font-weight-semibold;
          background: linear-gradient(135deg,
            color.mix($primary-color, color.adjust($primary-color, $hue: 10deg), 50%),
            color.adjust($secondary-color, $saturation: 20%)
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .container {
    max-width: $presentation-container-max-width;
    margin: 0 auto;
    padding: $presentation-container-padding-base;

    @media (min-width: $breakpoint-sm) {
      padding: $presentation-container-padding-sm;
    }

    @media (min-width: $breakpoint-lg) {
      padding: $presentation-container-padding-lg;
    }
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0;

    .service-card {
      position: relative;
      background: $bg-color;
      border-radius: $border-radius;
      padding: 2rem;
      border: 1px solid rgba($primary-color, 0.2);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: visible;

      &:hover {
        transform: translateY(-5px);
        border-color: rgba($primary-color, 0.3);
        box-shadow:
          0 0 15px rgba($primary-color, 0.2),
          0 0 30px rgba($primary-color, 0.1);

        .card-icon {
          background: $gradient-primary;

          i {
            color: white;
          }
        }
      }

      .card-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2rem;

        .card-icon {
          width: 3.5rem;
          height: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          background: rgba($primary-color, 0.1);
          transition: all 0.3s ease;

          i {
            font-size: 1.5rem;
            color: $primary-color;
            transition: color 0.3s ease;
          }
        }

        h4 {
          font-size: 1.4rem;
          font-weight: 700;
          color: $text-color;
          margin: 0;
        }
      }

      .card-content {
        .card-description {
          margin-bottom: 1.5rem;

          strong {
            display: block;
            font-size: 1.1rem;
            color: $text-color;
            margin-bottom: 0.8rem;
            line-height: 1.4;
          }

          p {
            color: $text-color-light;
            line-height: 1.6;
            font-size: 0.95rem;
          }
        }

        .card-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .tag-item {
            font-size: 0.875rem;
            padding: 0.4rem 0.8rem;
            border-radius: 8px;
            background: rgba($primary-color, 0.1);
            color: $primary-color;
            font-weight: 500;
            transition: all 0.3s ease;

            &:hover {
              background: $primary-color;
              color: white;
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }

  .vision-section {
    max-width: $vision-section-max-width;
    margin: $vision-section-margin;
    padding: 0 2rem;

    .vision-content {
      position: relative;
      background: linear-gradient(135deg, rgba($primary-color, 0.03), rgba($secondary-color, 0.03));
      border-radius: $border-radius;
      padding: $vision-section-padding;
      border: 1px solid rgba($primary-color, 0.1);

      .vision-icon {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background: $gradient-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px rgba($primary-color, 0.2);

        i {
          color: white;
          font-size: 1.5rem;
        }
      }

      .vision-text {
        text-align: center;

        h4 {
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 2rem;
          background: $gradient-primary;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .vision-paragraphs {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          p {
            font-size: 1.2rem;
            line-height: 1.8;
            color: $text-color-light;
            max-width: 700px;
            margin: 0 auto;

            &:last-child {
              font-weight: 500;
              color: $text-color;
            }
          }
        }
      }
    }
  }

  .cta-section {
    max-width: $cta-section-max-width;
    margin: $cta-section-margin;
    padding: $cta-section-padding;
    
    .cta-content {
      text-align: center;
      
      .cta-header {
        margin-bottom: 2rem;
        @include flex-center;
        gap: 1rem;
        
        .cta-icon {
          width: 4rem;
          height: 4rem;
          @include flex-center;
          border-radius: 50%;
          background: $gradient-primary;
          
          i {
            font-size: $font-size-2xl;
            color: $color-white;
          }
        }
        
        h4 {
          font-size: $font-size-3xl;
          font-weight: $font-weight-bold;
          color: $text-color;
          margin: 0;
        }
      }
      
      p {
        font-size: $font-size-lg;
        color: $text-color-light;
        margin-bottom: 2.5rem;
      }
    }
    
    .cta-buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      max-width: 900px;
      margin: 0 auto;
      
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        padding: 0 1rem;
      }
      
      .cta-button {
        @include flex-center;
        gap: 0.75rem;
        padding: 1.25rem 2rem;
        border-radius: $border-radius;
        font-weight: $font-weight-semibold;
        text-decoration: none;
        transition: $transition-base;
        position: relative;
        overflow: hidden;
        border: 2px solid transparent;
        
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(120deg,
            transparent 20%,
            rgba($color-white, 0.05) 40%,
            rgba($color-white, 0.1) 60%,
            transparent 80%
          );
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        
        &:hover {
          transform: translateY(-2px);
          @include hover-shadow;
          
          &::after {
            opacity: 1;
          }
        }
        
        i {
          font-size: $font-size-xl;
        }
        
        &.primary {
          background: $gradient-primary;
          color: $color-white;
          border-color: $color-primary;
          
          &:hover {
            background: linear-gradient(135deg,
              color.adjust($color-primary, $lightness: 5%),
              color.adjust($color-secondary, $lightness: 5%)
            );
          }
        }
        
        &.linkedin {
          background: #0077B5;
          color: $color-white;
          border-color: #0077B5;
          
          &:hover {
            background: color.adjust(#0077B5, $lightness: 5%);
          }
        }
        
        &.secondary {
          background: transparent;
          color: $text-color;
          border: 2px solid $border-color;
          
          &:hover {
            background: rgba($color-grey-100, 0.5);
            border-color: $color-primary;
            color: $color-primary;
          }
        }
      }
    }
  }
}

// Animations
@keyframes float {
  0% {
    transform: translateY(0) rotate(var(--rotation));
  }
  50% {
    transform: translateY(-10px) rotate(var(--rotation));
  }
  100% {
    transform: translateY(0) rotate(var(--rotation));
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes elementFloat {
  0%, 100% {
    transform: translateX(0) translateZ(var(--z-depth, 0));
  }
  50% {
    transform: translateX(-10px) translateZ(var(--z-depth, 0));
  }
}