<script setup lang="ts">
import { ref, watch } from 'vue';

interface FormData {
  name: string
  email: string
  subject: string
  message: string
  botcheck: boolean
}

interface FormError {
  name?: string
  email?: string
  subject?: string
  message?: string
}

const subjects = [
  { value: '', label: 'Sélectionnez un sujet' },
  { value: 'information', label: 'Demande d\'informations' },
  { value: 'developer', label: 'Recherche d\'un développeur confirmé' },
  { value: 'project', label: 'Proposition de projet' },
  { value: 'consulting', label: 'Demande de conseil technique' },
  { value: 'quote', label: 'Demande de devis' },
  { value: 'other', label: 'Autre sujet' }
]

const formData = ref<FormData>({
  name: '',
  email: '',
  subject: 'project',
  message: '',
  botcheck: false,
})

const errors = ref<FormError>({})
const isSubmitting = ref(false)
const submitStatus = ref<'idle' | 'success' | 'error'>('idle')
const isFormValid = ref(false)

const checkFormValidity = () => {
  const { name, email, subject, message } = formData.value
  
  isFormValid.value = Boolean(
    name.trim().length >= 3 &&
    email &&
    isValidEmail(email) &&
    subject &&
    message.trim().length >= 10
  )
}

watch(
  () => ({ ...formData.value }),
  () => checkFormValidity(),
  { deep: true }
)

const WEB3FORMS_ACCESS_KEY = "18b8d358-f20c-49c3-a438-f6b7bc8e3e11"

const isValidEmail = (email: string): boolean => {
  return /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/.test(email)
}

const validateWithDelay = (field: keyof FormData) => {
  if (field !== 'email') return

  setTimeout(() => {
    const value = formData.value[field] as string
    errors.value[field] = undefined

    if (value && !isValidEmail(value)) {
      setTimeout(() => {
        errors.value.email = 'Utilisez un format comme exemple@domaine.com'
      }, 600)
    }
  }, 200)
}

const validateForm = (): boolean => {
  errors.value = {}
  let isValid = true

  const { name, email, subject, message } = formData.value

  if (!name.trim()) {
    errors.value.name = 'Ajoutez votre nom pour vous identifier'
    isValid = false
  }

  if (!email) {
    errors.value.email = 'Ajoutez votre email pour vous contacter'
    isValid = false
  } else if (!isValidEmail(email)) {
    errors.value.email = 'Utilisez un format comme exemple@domaine.com'
    isValid = false
  }

  if (!subject) {
    errors.value.subject = 'Sélectionnez un sujet'
    isValid = false
  }

  if (!message.trim()) {
    errors.value.message = 'Partagez votre message avec nous'
    isValid = false
  } else if (message.length < 10) {
    errors.value.message = 'Ajoutez quelques détails à votre message'
    isValid = false
  }

  return isValid
}

const isProcessing = ref(false)

interface SentMessage {
  name: string
  email: string
  subject: string
  message: string
}

const sentMessage = ref<SentMessage | null>(null)

const handleSubmit = async (event: Event) => {
  event.preventDefault()
  
  if (isProcessing.value) return
  if (!validateForm()) return
  
  if (formData.value.botcheck) {
    console.log('Bot detected')
    return
  }

  isProcessing.value = true
  isSubmitting.value = true
  
  const selectedSubject = subjects.find(s => s.value === formData.value.subject)
  const subjectLabel = selectedSubject ? selectedSubject.label : 'Autre'
  
  try {
    const response = await fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify({
        access_key: WEB3FORMS_ACCESS_KEY,
        ...formData.value,
        subject: `Portfolio - ${subjectLabel}`,
        from_name: "Portfolio Contact Form",
        botcheck: undefined,
        timestamp: new Date().toISOString(),
        user_agent: navigator.userAgent,
      })
    })

    const result = await response.json()
    
    if (result.success) {
      sentMessage.value = {
        name: formData.value.name,
        email: formData.value.email,
        subject: formData.value.subject,
        message: formData.value.message
      }
      
      submitStatus.value = 'success'
      
      formData.value = { 
        name: '', 
        email: '', 
        subject: 'project',
        message: '', 
        botcheck: false,
      }
      
      setTimeout(() => {
        const successMessage = document.querySelector('.form-status')
        successMessage?.scrollIntoView({ behavior: 'smooth', block: 'center' })
      }, 100)
    } else {
      throw new Error(result.message || 'Erreur lors de l\'envoi')
    }
  } catch (error) {
    console.error('Erreur:', error)
    submitStatus.value = 'error'
  } finally {
    isSubmitting.value = false
    isProcessing.value = false
  }
}
</script>

<template>
  <div class="contact-form">
    <form @submit="handleSubmit" novalidate>
      <div class="form-header">
        <h2>Contactez-moi</h2>
        <p>Je vous répondrai dans les plus brefs délais</p>
      </div>

      <div class="form-group">
        <div class="label-wrapper">
          <label for="name">
            <i class="fas fa-user"></i> Nom
          </label>
          <div class="validation-message" v-if="errors.name || formData.name.length >= 3">
            <span v-if="errors.name" class="error">
              <i class="fas fa-exclamation-circle"></i>
              {{ errors.name }}
            </span>
            <span v-else class="success">
              <i class="fas fa-check-circle"></i>
              Nom valide
            </span>
          </div>
        </div>
        <input 
          id="name"
          v-model="formData.name"
          type="text" 
          name="name" 
          required
          :disabled="isSubmitting"
          autocomplete="name"
          minlength="3"
          maxlength="50"
          placeholder="Votre nom"
          :aria-invalid="errors.name ? 'true' : 'false'"
          :aria-describedby="errors.name ? 'name-error' : undefined"
        >
      </div>

      <div class="form-group">
        <div class="label-wrapper">
          <label for="email">
            <i class="fas fa-envelope"></i> Email
          </label>
          <div class="validation-message" v-if="errors.email || (formData.email && isValidEmail(formData.email))">
            <span v-if="errors.email" class="error">
              <i class="fas fa-exclamation-circle"></i>
              {{ errors.email }}
            </span>
            <span v-else class="success">
              <i class="fas fa-check-circle"></i>
              Email valide
            </span>
          </div>
        </div>
        <input 
          id="email"
          v-model="formData.email"
          type="email" 
          name="email" 
          required
          :disabled="isSubmitting"
          autocomplete="email"
          placeholder="votre@email.com"
          @blur="validateWithDelay('email')"
        >
      </div>

      <div class="form-group">
        <div class="label-wrapper">
          <label for="subject">
            <i class="fas fa-tag"></i> Sujet
          </label>
          <div class="validation-message" v-if="errors.subject">
            <span class="error">
              <i class="fas fa-exclamation-circle"></i>
              {{ errors.subject }}
            </span>
          </div>
        </div>
        <select
          id="subject"
          v-model="formData.subject"
          name="subject"
          required
          :disabled="isSubmitting"
          :aria-invalid="errors.subject ? 'true' : 'false'"
          :aria-describedby="errors.subject ? 'subject-error' : undefined"
        >
          <option 
            v-for="subject in subjects" 
            :key="subject.value" 
            :value="subject.value"
            :disabled="subject.value === ''"
          >
            {{ subject.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <div class="label-wrapper">
          <label for="message">
            <i class="fas fa-comment"></i> Message
          </label>
          <div class="validation-message" v-if="errors.message">
            <span class="error">
              <i class="fas fa-exclamation-circle"></i>
              {{ errors.message }}
            </span>
          </div>
        </div>
        <textarea 
          id="message"
          v-model="formData.message"
          name="message" 
          required
          :disabled="isSubmitting"
          minlength="10"
          maxlength="1000"
          placeholder="Votre message..."
        ></textarea>
      </div>

      <div class="hidden" aria-hidden="true">
        <input
          type="checkbox"
          name="botcheck"
          v-model="formData.botcheck"
          tabindex="-1"
          autocomplete="off"
        />
      </div>

      <button 
        type="submit"
        :disabled="isSubmitting || !isFormValid"
        class="submit-button"
      >
        <span v-if="isSubmitting">
          <span class="spinner"></span>
          Envoi en cours...
        </span>
        <span v-else>
          <i class="fas fa-paper-plane"></i> Envoyer
        </span>
      </button>

      <div v-if="submitStatus !== 'idle'" class="form-status" :class="submitStatus">
        <div v-if="submitStatus === 'success'" class="success-message">
          <p class="success">
            <i class="fas fa-check-circle"></i>
            <span>
              Message envoyé avec succès !<br>
              Nous vous répondrons dans les plus brefs délais.
            </span>
          </p>
          
          <div class="message-recap">
            <h3>Récapitulatif de votre message</h3>
            <div v-if="sentMessage" class="recap-content">
              <p class="recap-field">
                <span class="recap-label">De :</span>
                <span class="recap-value">{{ sentMessage.name }} &lt;{{ sentMessage.email }}&gt;</span>
              </p>
              <p class="recap-field">
                <span class="recap-label">Sujet :</span>
                <span class="recap-value">{{ subjects.find(s => s.value === sentMessage?.subject)?.label }}</span>
              </p>
              <div class="recap-separator"></div>
              <p class="recap-message">{{ sentMessage.message }}</p>
            </div>
          </div>
        </div>

        <p v-if="submitStatus === 'error'" class="error">
          <i class="fas fa-times-circle"></i>
          <span>Erreur lors de l'envoi. Veuillez réessayer ou nous contacter directement.</span>
        </p>
      </div>
    </form>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/christophe-giacomel/" 
         target="_blank" 
         rel="noopener noreferrer" 
         class="linkedin-link"
         aria-label="Profil LinkedIn de Christophe Giacomel">
        <i class="fab fa-linkedin"></i>
        <span>Retrouvez-moi sur LinkedIn</span>
      </a>
    </div>
  </div>
</template>
