<template>
  <div class="presentation">
    <div class="hero-section">
      <div class="hero-content">
        <h1>Transformez vos idées en solutions web innovantes !</h1>
        <div class="hero-text animate-test">
          <p class="main-text">
            <strong>Développeur expérimenté en JavaScript & TypeScript.</strong>
            <span>Architecte et spécialiste des technologies web modernes, je transforme vos enjeux stratégiques en solutions créatrices de valeur.</span>
          </p>
        </div>
        <div class="hero-highlight">
          <strong>🚀 Prêt à donner vie à votre prochain projet ?</strong>
        </div>
      </div>
      <div class="hero-image">
        <div class="floating-elements">
          <div class="element">
            <i class="fas fa-code"></i>
            TypeScript
          </div>
          <div class="element">
            <i class="fas fa-layer-group"></i>
            Full Stack
          </div>
          <div class="element">
            <i class="fas fa-database"></i>
            Clean Architecture
          </div>
          <div class="element">
            <i class="fas fa-sitemap"></i>
            Design Patterns
          </div>
          <div class="element">
            <i class="fas fa-cubes"></i>
            SOLID Principles
          </div>
          <div class="element">
            <i class="fas fa-terminal"></i>
            Git & CI/CD
          </div>
          <div class="element">
            <i class="fas fa-rocket"></i>
            Solutions Performantes
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-section">
        <div class="hero-content">
          <h2>Donnez vie à vos ambitions avec une personne expérimentée qui comprends vos enjeux.</h2>
          <div class="hero-text">
            <p class="main-text">
              <strong>Vous cherchez un développeur web capable de transformer vos idées en solutions concrètes et performantes ?</strong>
              <span>Vous avez besoin d'un professionnel qui maîtrise les technologies et les enjeux business ?</span>
            </p>
          </div>
          <div class="hero-highlight">
            <strong>👋 Je suis là pour vous accompagner.</strong>
          </div>
        </div>
        <div class="hero-image">
          <div class="floating-elements">
            <div class="element">
              <i class="fas fa-project-diagram"></i>
              Domain Driven Design
            </div>
            <div class="element">
              <i class="fas fa-check-circle"></i>
              Code Review
            </div>
            <div class="element">
              <i class="fas fa-tasks"></i>
              Méthodes Agiles
            </div>
            <div class="element">
              <i class="fas fa-shield-alt"></i>
              Code Quality & Tests
            </div>
            <div class="element">
              <i class="fas fa-code-branch"></i>
              Git Flow
            </div>
            <div class="element">
              <i class="fas fa-sync-alt"></i>
              Best Practices
            </div>
            <div class="element">
              <i class="fas fa-comments"></i>
              Communication Claire
            </div>
          </div>
        </div>
      </div>
      <div class="value-proposition">
        <div class="value-content">
          <h2>Un savoir-faire et un savoir-être au service de votre réussite</h2>
          <p>
            Ma valeur ajoutée va au-delà du simple développement.<br>
            Je vous apporte une <span class="highlight">vision stratégique</span> et une approche
            <span class="highlight">orientée résultats</span> pour vous aider à atteindre vos objectifs.
          </p>
        </div>
      </div>

      <div class="value-statement">
        <div class="statement-icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <strong>Voici ce que je mets à votre service :</strong>
      </div>

      <div class="services-grid">
        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fab fa-js"></i>
            </div>
            <h3>Expertise Technique Full Stack</h3>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Maîtrise des technologies modernes pour des solutions personnalisées.</strong>
              <p>Je conçois et développe des applications web robustes et évolutives en utilisant les meilleures pratiques de la Clean Architecture et du Domain-Driven Design.<br>
                Mon expérience couvre l'ensemble de la stack technique, de la conception à la livraison.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">TypeScript</span>
              <span class="tag-item">Clean Architecture</span>
              <span class="tag-item">Node.js</span>
              <span class="tag-item">API Design</span>              
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-lightbulb"></i>
            </div>
            <h3>Vision Stratégique & Business</h3>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Transformation des enjeux métiers en solutions technologiques concrètes</strong>
                <p>Je traduis vos objectifs business en architectures techniques pertinentes et évolutives.<br>
                  Mon approche combine expertise technique et compréhension approfondie des enjeux métiers pour maximiser la valeur ajoutée de chaque solution développée.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Conseil</span>
              <span class="tag-item">Stratégie</span>
              <span class="tag-item">ROI</span>
              <span class="tag-item">Solutions adaptées</span>
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-sync-alt"></i>
            </div>
            <h3>Agilité et Proactivité</h3>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Méthodologies modernes pour un développement efficace et itératif.</strong>
               <p>J'implémente des pratiques éprouvées comme le User Story Mapping, le Domain Driven Design (DDD) et le Test-Driven Development (TDD)  pour garantir la qualité et la maintenabilité du code.<br>
                Cette approche méthodique assure l'adaptabilité de vos solutions face aux évolutions futures tout en maintenant une dette technique minimale.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Team Collaboration</span>
              <span class="tag-item">User Story Mapping</span>
              <span class="tag-item">Domain Driven Design</span>
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-comments"></i>
            </div>
            <h3>Communication & Travail d'équipe</h3>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Comprendre, partager et réussir ensemble.</strong>
              <p>Un projet réussi est avant tout une aventure collective.<br>
                En favorisant une communication transparente et la pédagogie, je contribue à créer un environnement où chaque membre de l'équipe peut s'exprimer et participer pleinement.<br><br>
                Ensemble, nous transformons les idées en réalisations concrètes.
                </p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Relation</span>
              <span class="tag-item">Travail d'Équipe</span>
              <span class="tag-item">Accompagnement</span>
              <span class="tag-item">Transparence</span>
            </div>
          </div>
        </div>
      </div>
      <div class="vision-section">
        <div class="vision-content">
          <div class="vision-icon">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="vision-text">
            <h2>Une vision claire pour concrétiser vos projets</h2>
            <div class="vision-paragraphs">
              <p>Je m'engage à transformer vos idées en réalisations concrètes, établissant un partenariat durable fondé sur la confiance et l'excellence.</p>
              <p>Ensemble, nous allons bâtir des projets solides, durables et performants.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cta-section">
        <div class="cta-content">
          <div class="cta-header">
            <div class="cta-icon">
              <i class="fas fa-paper-plane"></i>
            </div>
            <h2>Prêt à en savoir plus ?</h2>
          </div>
          <p>📞 Discutons de vos ambitions et explorons comment je peux vous aider à les concrétiser.</p>
          <div class="cta-buttons">
            <a href="/portfolio/contact/" class="cta-button primary">
              <i class="fas fa-envelope"></i>
              <span>Me contacter</span>
            </a>
            <a href="https://www.linkedin.com/in/christophe-giacomel/" target="_blank" rel="noopener noreferrer" class="cta-button linkedin">
              <i class="fab fa-linkedin"></i>
              <span>Mon profil LinkedIn</span>
            </a>
            <a href="/portfolio/solution/" class="cta-button secondary">
              <i class="fas fa-tools"></i>
              <span>Découvrir mes solutions</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

</script>
