<template>
  <div class="realisations-container">
    <div v-for="(realisation, index) in realisations" :key="index" class="realisation-card">
      <div class="realisation-image">
        <img :src="realisation.image" :alt="realisation.title" />
      </div>
      <div class="realisation-content">
        <h3>{{ realisation.title }}</h3>
        <p class="realisation-description">{{ realisation.description }}</p>
        <div class="realisation-tech">
          <span v-for="(tech, techIndex) in realisation.technologies" 
                :key="techIndex" 
                class="tech-tag">
            {{ tech }}
          </span>
        </div>
        <div class="realisation-links" v-if="realisation.links">
          <a v-for="(link, linkIndex) in realisation.links" 
             :key="linkIndex"
             :href="link.url" 
             target="_blank" 
             class="link-button">
            {{ link.text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PortfolioRealisations',
  data() {
    return {
      realisations: [
        {
          title: 'HydroDam Monitor',
          description: 'Dashboard de supervision en temps réel pour barrage hydroélectrique, intégrant monitoring environnemental et maintenance prédictive.',
          image: '/portfolio/assets/img/dashboard_main.png',
          technologies: ['TypeScript', 'Vue.js', 'Tailwind CSS', 'Real-time'],
          period: '2024',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/dam' }
          ]
        },
        {
          title: 'Accès Industrie',
          description: 'Système de gestion de location d\'équipements industriels pour le leader français de la location de nacelles et chariots.',
          image: '/portfolio/assets/img/acces_industrie.png',
          technologies: ['PHP', 'MySQL', 'JavaScript', 'jQuery'],
          period: '2010-2023',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/acces' }
          ]
        },
        {
          title: 'DFacto',
          description: 'Solution de facturation et gestion documentaire.',
          image: '/portfolio/assets/img/mon_entreprise_2015_sc_charge_2015.png',
          technologies: ['PHP', 'MySQL', 'JavaScript', 'jQuery'],
          period: '2014-2015',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/dfacto' }
          ]
        },
        {
          title: 'BBOI',
          description: 'Application de gestion des chantiers et des ressources pour le Groupe Philippe Marraud.',
          image: '/portfolio/assets/img/BBOI_Synthese_de_Gestion_de_l_Affaire_2014-03-07.png',
          technologies: ['PHP', 'MySQL', 'JavaScript'],
          period: '2013-2014',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/bboi' }
          ]
        },
        {
          title: 'BBOIHeures',
          description: 'Application de gestion du temps et des congés pour le Groupe Philippe Marraud.',
          image: '/portfolio/assets/img/BBOI_Heures_tableau_de_bord_2014-03-07.png',
          technologies: ['PHP', 'MySQL', 'JavaScript', 'Bootstrap'],
          period: '2013-2014',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/bboiheures' }
          ]
        },
        {
          title: 'VDGI',
          description: 'Plateforme de gestion administrative.',
          image: '/portfolio/assets/img/VDGI_dossier_occupant_2014-06-01.png',
          technologies: ['PHP', 'MySQL', 'JavaScript'],
          period: '2013-2014',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/vdgi' }
          ]
        },
        {
          title: 'Pékin Express Digital',
          description: 'Ensemble de plateformes digitales pour Wanadoo/Orange incluant systèmes d\'abonnement et espaces promotionnels.',
          image: '/portfolio/assets/img/50_pekin_turbo_mailing.jpg',
          technologies: ['PHP', 'Oracle', 'JavaScript'],
          period: '2003-2006',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/ancienne#groupe-france-telecom-orange-2003-2006' }
          ]
        },
        {
          title: 'Crédit Agricole Publishing',
          description: 'Plateformes éditoriales et newsletters pour le groupe Crédit Agricole.',
          image: '/portfolio/assets/img/07_credit_agricole_i_comme_infos.jpg',
          technologies: ['PHP', 'MySQL', 'JavaScript'],
          period: '2002-2004',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/ancienne#credit-agricole' }
          ]
        },
        {
          title: '1GENIA Solutions',
          description: 'Série de portails et plateformes pour différentes organisations (CFDT, FNCOFOR).',
          image: '/portfolio/assets/img/03_1genia_cfdt.jpg',
          technologies: ['PHP', 'PostgreSQL', 'JavaScript'],
          period: '2001-2003',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/ancienne#autres-projets-corporate' }
          ]
        },
        {
          title: 'MCM Interactive',
          description: 'Série de sites événementiels pour la chaîne musicale MCM incluant des sites d\'artistes (Daft Punk, U2, Moby) et des promotions de films.',
          image: '/portfolio/assets/img/20_mcm_daft.jpg',
          technologies: ['Flash', 'PHP', 'MySQL', 'JavaScript'],
          period: '2000-2003',
          links: [
            { text: 'En savoir plus', url: '/portfolio/realisations/ancienne#mcm-chaine-musicale-2000-2003' }
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>
.realisations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.realisation-card {
  background: var(--bg-color-float);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.realisation-card:hover {
  transform: translateY(-5px);
}

.realisation-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.realisation-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.realisation-content {
  padding: 1.5rem;
}

.realisation-content h3 {
  margin: 0 0 1rem;
  color: var(--text-color);
}

.realisation-description {
  color: var(--text-color-light);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.realisation-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-tag {
  background: var(--bg-color);
  color: var(--text-color-light);
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.875rem;
}

.realisation-links {
  display: flex;
  gap: 1rem;
}

.link-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--theme-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.link-button:hover {
  background: var(--theme-color-light);
}

.period {
  font-size: 0.8rem;
  color: var(--theme-color);
  background: var(--bg-color);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  display: inline-block;
}
</style> 