<template>
  <div class="solution">
    <div class="hero-section">
      <div class="hero-content">
        <h3>L'artisan de votre succès : solutions créatives, résultats concrets.</h3>
        <div class="hero-text animate-test">
          <p class="main-text">
            <strong>Transformez vos idées en réalités numériques.</strong>
            <span>Avec une expertise technique et entrepreneuriale, je vous guide dans la réalisation de projets web innovants et performants.</span>
          </p>
        </div>
        <div class="hero-highlight">
          <strong>Des solutions sur mesure pour votre réussite.</strong>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="services-grid">
        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-laptop-code"></i>
            </div>
            <h4>Solutions Web Personnalisées</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Des solutions adaptées à vos besoins spécifiques</strong>
              <p>Création de sites web et d'applications performants, utilisant les dernières technologies pour garantir efficacité et évolutivité.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Sites Web</span>
              <span class="tag-item">Applications</span>
              <span class="tag-item">Performance</span>
              <span class="tag-item">Sur Mesure</span>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-tools"></i>
            </div>
            <h4>Optimisation & Maintenance</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Amélioration continue de vos plateformes existantes</strong>
              <p>Optimisation des performances, de la sécurité et de l'expérience utilisateur pour maintenir vos sites web à leur meilleur niveau.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Performance</span>
              <span class="tag-item">Sécurité</span>
              <span class="tag-item">UX</span>
              <span class="tag-item">Maintenance</span>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-code"></i>
            </div>
            <h4>Expertise Frontend & Backend</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Une maîtrise complète du développement web</strong>
              <p>De l'interface utilisateur à la logique serveur, je développe des solutions complètes et cohérentes pour votre projet.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Frontend</span>
              <span class="tag-item">Backend</span>
              <span class="tag-item">Full Stack</span>
              <span class="tag-item">Architecture</span>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <h4>Conseil & Stratégie</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Un accompagnement expert pour vos décisions techniques</strong>
              <p>Je vous guide dans vos choix technologiques pour optimiser vos investissements et atteindre vos objectifs business.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Conseil</span>
              <span class="tag-item">Stratégie</span>
              <span class="tag-item">Veille</span>
              <span class="tag-item">Innovation</span>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-sync-alt"></i>
            </div>
            <h4>Adaptabilité et Mise à Jour</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Des solutions évolutives et durables</strong>
              <p>Maintien constant des compétences et des technologies à jour pour garantir des solutions pérennes et adaptables aux évolutions du marché.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Veille</span>
              <span class="tag-item">Innovation</span>
              <span class="tag-item">Évolutivité</span>
              <span class="tag-item">Maintenance</span>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="card-header">
            <div class="card-icon">
              <i class="fas fa-users"></i>
            </div>
            <h4>Collaboration et Communication</h4>
          </div>
          <div class="card-content">
            <div class="card-description">
              <strong>Un partenariat transparent et efficace</strong>
              <p>Travail en étroite collaboration avec vos équipes, communication claire et régulière pour garantir le succès de vos projets dans les délais impartis.</p>
            </div>
            <div class="card-tags">
              <span class="tag-item">Agilité</span>
              <span class="tag-item">Communication</span>
              <span class="tag-item">Transparence</span>
              <span class="tag-item">Collaboration</span>
            </div>
          </div>
        </div>

      </div>

      <div class="vision-section">
        <div class="vision-content">
          <div class="vision-icon">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="vision-text">
            <h4>Une approche centrée sur vos objectifs</h4>
            <div class="vision-paragraphs">
              <p>En tant qu'architecte et concepteur web expérimenté, je m'engage à créer des solutions qui non seulement répondent à vos besoins actuels, mais anticipent aussi vos besoins futurs.</p>
              <p>Ensemble, construisons des solutions web innovantes et performantes.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="cta-section">
        <div class="cta-content">
          <div class="cta-header">
            <div class="cta-icon">
              <i class="fas fa-rocket"></i>
            </div>
            <h4>Prêt à concrétiser votre projet ?</h4>
          </div>
          <p>🤝 Discutons de vos besoins et trouvons ensemble la solution idéale pour votre entreprise.</p>
          <div class="cta-buttons">
            <a href="/portfolio/contact/" class="cta-button primary">
              <i class="fas fa-paper-plane"></i>
              <span>Me contacter</span>
            </a>
            <a href="https://www.linkedin.com/in/christophe-giacomel/" target="_blank" rel="noopener noreferrer" class="cta-button linkedin">
              <i class="fab fa-linkedin"></i>
              <span>Mon profil LinkedIn</span>
            </a>
            <a href="/portfolio/me/" class="cta-button secondary">
              <i class="fas fa-info-circle"></i>
              <span>En savoir plus</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Component logic here if needed
</script>
